.idea/
.vscode/
vendor/
bin/
.env
shared/bin/run-sniper
shared/bin/nvmain.fast
shared/bin/nvmain.debug
shared/bin/nvmain.prof
shared/nvmsim
shared/nvmain
shared/sniper
shared/pinplay
shared/vendor
shared/bin
shared/pin.log
shared/sim.*
shared/src/server-tests
shared/src/docker-tests
shared/src/sniper-tests
shared/logs/