# This is a sample config file. It was tested with:
#
#      Compiler name/version:       [gcc, 6.3]
#      Operating system version:    [DEBIAN 9 for AMD64]
#      Hardware:                    [Opteron]
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is.
#
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC techncial
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is
# the config file that will provide the best performance.
#
# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/cpu2006
####################################################################
# linux64-amd64-gcc63.cfg
# FSF's gcc 6.3 config file for
# AMD64 64-bit (64 bit binaries on 64 bit host)
# Config file for CPU2006 int and fp Base only
#####################################################################

ignore_errors = yes
tune          = base
ext           = amd64-m64-gcc63-nn
output_format = asc, pdf, Screen
reportable    = 1
teeout        = yes
teerunout     = yes
hw_avail = Dec-9999
license_num = 9999
test_sponsor = Turbo Computers
prepared_by = 
tester      =
test_date = Dec-9999

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################
CC           = /usr/bin/gcc
CXX          = /usr/bin/g++
FC           = /usr/bin/gfortran

## HW config
hw_model     = Tyan Thunder KKQS Pro (S4882)
hw_cpu_name  = AMD Opteron 256
hw_cpu_char  =
hw_cpu_mhz   = 3000
hw_fpu       = Integrated
hw_nchips = 1
hw_ncores = 1
hw_ncoresperchip= 1
hw_nthreadspercore = 1
hw_ncpuorder = 1 chip
hw_pcache    = 64 KB I + 64 KB D on chip per chip
hw_scache    = 1 MB I+D on chip per chip
hw_tcache    = None
hw_ocache    = None
hw_memory = 2 GB (2 x 1GB DDR333 CL2.5)
hw_disk   = SATA
hw_vendor = Tyan

## SW config
sw_os        = DEBIAN 9 (for AMD64)
sw_file      = ext3
sw_state     = runlevel 3
sw_compiler  = gcc , g++ & gfortran 4.2.0325 (for AMD64)
sw_avail = Dec-9999
sw_other = None
sw_auto_parallel = No
sw_base_ptrsize = 64-bit
sw_peak_ptrsize = Not Applicable


#####################################################################
# Optimization
#####################################################################
## Base is low opt
default=base=default=default:
COPTIMIZE     = -O2
CXXOPTIMIZE  = -O2 
FOPTIMIZE    = -O2

notes0100= C base flags: $[COPTIMIZE]
notes0110= C++ base flags: $[CXXOPTIMIZE]
notes0120= Fortran base flags: $[FOPTIMIZE]

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
notes25= PORTABILITY=-DSPEC_CPU_LP64 is applied to all benchmarks in base.
PORTABILITY = -DSPEC_CPU_LP64


#####################################################################
# Portability Flags - INT
#####################################################################

400.perlbench=default=default=default:
notes35    = 400.perlbench: -DSPEC_CPU_LINUX_X64
CPORTABILITY= -DSPEC_CPU_LINUX_X64

462.libquantum=default=default=default:
notes60= 462.libquantum: -DSPEC_CPU_LINUX
CPORTABILITY= -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY= -DSPEC_CPU_LINUX


#####################################################################
# Portability Flags - FP
#####################################################################
481.wrf=default=default=default:
wrf_data_header_size = 8
CPORTABILITY = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
#####################################################################

__MD5__
401.bzip2=base=amd64-m64-gcc63-nn=default:
# Last updated Thu Mar 21 04:12:07 2019
optmd5=dedf19223fd7af9943543aa7a23db222
baggage=
compile_options=\
@eNqdUE0LgkAQvfsrhr2bINFBVNDVZGt1l9RDXQQXCTu44cf/b7VCM7r0mMOwO2/ee4NZzC0whq41\
yroxrkKArkqCvPe1bLqNBD1IeYgLzHPVJkHo5xEo6MyEJ+aBgvLdFt6wOzm0onI1bAHGDlqqoOmR\
+QfGMwd9SCJNOVLL9tSLUvX3LY80NpJ5RmJyCdUIMycSZ6fM8wkl2XnJm1whjZLkuIr6SvEjgC3L\
WyX6zoUZs80xAA3Wqf4xNi1i+XiHxREeNNBtiQ==
exemd5=e7a3409aba510b4774e0332a12377e41
